.dashboard-layout{
  /* Animation */
  opacity: 0;
  transform: translateY(25px);
  animation: fadeSlideIn 0.8s ease-out forwards;
}

@keyframes fadeSlideIn {
0% {
  opacity: 0;
  transform: translateY(25px) scale(0.98);
  filter: blur(6px);
}
70% {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}
100% {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}
}

.db-header {
display: flex;
flex-direction: column;
gap: 4px;

/* Animation */
animation: slideFromRight 0.9s ease-out forwards;
opacity: 0; /* Start invisible */
}

@keyframes slideFromRight {
0% {
transform: translateX(80px); /* Start slightly off-screen to the right */
opacity: 0;
}
100% {
transform: translateX(0); /* End in place */
opacity: 1;
}
}

.db-header h1 {
font-size: 2rem;
font-weight: 700;
color: #2c8cfb;
margin: 0;
letter-spacing: 0.5px;
}

.db-header p{
font-size: 13px;
color: #909090;
}

.db-header span {
color: #2c4c71;
}

.dashboard-layout {
display: flex;
gap: 20px;
}

.left-section {
flex: 3;
min-width: 0;
}

.right-section {
flex: 1;
}


.quick-actions {
background: #fff;
padding: 20px 25px;
box-shadow: 0 4px 15px rgba(0,0,0,0.08);
border: 1px solid #5cacfa;
height: 100%;
border-radius: 8px;
display: flex;
flex-direction: column;
}

.quick-actions.responsive{
display: none;
margin-top: 1rem;
height: auto;
}

.quick-action-heading {
margin-bottom: .6rem;
display: flex;
justify-content: left;
}

.quick-action-heading h3 {
font-size: 20px;
color: #2c4c71;
font-weight: 700;
text-align: center;
}

.actions-grid { 
display: grid;
gap: 1.5rem;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}



/* From Uiverse.io by mrhyddenn */ 
.action-button {
  padding: .7em 1em;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  color: #2c8cfb;
  transition: all 1000ms;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c8cfb;
  
  display: flex;               /* NEW */
  justify-content: center;     /* NEW */
  align-items: center;         /* NEW */
  }


.action-button:hover {
color: #ffffff;
transform: scale(1.0);
outline: 2px solid #2c8cfb;
box-shadow: 4px 5px 17px -4px #2c8cfb;
}

.action-button::before {
content: "";
position: absolute;
left: -50px;
top: 0;
width: 0;
height: 100%;
background-color: #2c8cfb;
transform: skewX(45deg);
z-index: -1;
transition: width 1000ms;
}

.action-button:hover::before {
width: 250%;
}

.quick-actions-img {
margin-top: 3rem;
display: flex;
justify-content: center;
}

.quick-actions-img img {
width: 150px;
}

/* ========= CARDS ============ */

/* MAIN CARDS GRID */
.im-cards {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
gap: 10px;

transition: all 0.35s ease;
}

/* CARD DESIGN */
.im-card {
position: relative;
overflow: hidden;
display: flex;
align-items: center;
gap: 18px;
padding: 22px;
background: rgba(255, 255, 255, 0.85);
backdrop-filter: blur(12px);
border-radius: 18px;
border: 1px solid #5cacfa;
box-shadow:
0 8px 20px rgba(0,0,0,0.05),
inset 0 0 50px rgba(255,255,255,0.45);
transition: transform .35s ease, box-shadow .35s ease;
cursor: pointer;
overflow: hidden;
opacity: 0;
}

/* CONTENT SHOULD BE ABOVE */
.im-card * {
position: relative;
z-index: 1;
}

.maint-card-bubble {
height: 118px;
width: 118px;
background: #eef6ff;
position: absolute;
top: -85px;
right: -85px;
border-radius: 50%;
transition: all .7s ease;
z-index: -1;
}

.im-card:hover .maint-card-bubble {
transform: scale(10);
}

/* Hover Effect */
.im-card:hover {
transform: translateY(-8px);
box-shadow:
0 15px 30px rgba(0,0,0,0.10),
inset 0 0 70px rgba(255,255,255,0.55);
}

.im-card-image img {
width: 85px;
}

/* TEXT STYLES */
.im-info h4 {
font-size: 16px;
font-weight: 600;
margin-bottom: 6px;
}

.im-number {
font-size: 30px;
font-weight: 700;
color: #2c8cfb;
margin-bottom: 5px;
}

.im-sub {
font-size: 12px;
color: #6b7c8c;
}

/* FADE UP ANIMATION */
.fade-up {
opacity: 0;
transform: translateY(20px);
animation: fadeUp .7s forwards ease-out;
}

.delay-1 { animation-delay: .1s; }
.delay-2 { animation-delay: .2s; }
.delay-3 { animation-delay: .3s; }

@keyframes fadeUp {
to {
opacity: 1;
transform: translateY(0);
}
}

/* ========= TABLE ============ */
/* OPERATIONS */
.live-operations {
margin-top: 20px;
}

.section-title {
font-size: 22px;
margin-bottom: 20px;
font-weight: 700;
}

.single-grid {
height: 100%;
display: flex;
flex-direction: column;
}

.op-card {
background: rgba(255, 255, 255, 0.75);
backdrop-filter: blur(10px);
padding: 25px;
border-radius: 10px;
box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
border: 1px solid #5cacfa;
position: relative;
transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.op-card:hover {
transform: translateY(-4px);
box-shadow: 0 10px 35px rgba(0, 0, 0, 0.12);
}

/* CARD ICON */
.card-image {
display: flex;
justify-content: space-between;
align-items: center;
gap: 2rem;
margin-bottom: 1rem;
}

.card-image img{
width: 85px;
}

.card-image h4 {
font-size: 18px;
font-weight: 700;
}

.content {
display: flex;
justify-content: space-between;
padding: 4px 0;
}

.content p{
font-size: 14px;
}

.content span{
color: #2c8cfb;
}

/*----------------------------- map view  --------------------------*/
.map-card {
  width: 100%;
  background: linear-gradient(180deg, #ffffff, #f8fbff);
  border-radius: 18px;
  border: 1px solid #5cacfa;
  padding: 22px;
  box-shadow: 0 18px 45px rgba(0,0,0,0.12);
  margin-top: 25px;
}

.map-header {
  margin-bottom: 15px;
}

.map-header h3 {
  font-size: 20px;
  font-weight: 700;
  color: #2c4c71;
}

.map-header span {
  font-size: 13px;
  color: #6b7280;
}

#deliveryMap {
  width: 100%;
  height: 280px;
  border-radius: 16px;
  overflow: hidden;
}

/* LEGEND */
.map-legend {
  display: flex;
  gap: 18px;
  margin-top: 14px;
  font-size: 13px;
  font-weight: 600;
  color: #374151;
}

.legend {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.legend.ontime { background: #22c55e; }
.legend.risk { background: #facc15; }
.legend.delayed { background: #ef4444; }

/*--------------------------- bar graph --------------------------*/

#inboundChart {
  width: 100% !important;
  height: 280px !important;
}

/* GRAPH CARD */
.graph-card {
  background: linear-gradient(180deg, #ffffff, #f8fbff);
  padding: 26px 28px;
  border-radius: 18px;
  border: 1px solid #5cacfa;
  box-shadow:
      0 15px 40px rgba(44,140,251,0.15),
      inset 0 0 0 1px rgba(255,255,255,0.6);
}

/* HEADER ALIGNMENT */
.graph-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.graph-header h3 {
  font-size: 20px;
  font-weight: 700;
  color: #2c4c71;
  letter-spacing: 0.3px;
}

.graph-subtitle {
  font-size: 13px;
  font-weight: 500;
  color: #6b7280;
  margin-top: 4px;
}


.recent-activities{
  margin-top: 2rem;
}

.recent-activities h2{
  font-size: 22px;
  font-weight: 700;
}


/* ========= Responsive ============ */


@media (max-width: 1440px) {
.right-section {
display: none;
}

.quick-actions {
display: none;
}

.quick-actions.responsive {
display: block;
}

.quick-actions-img {
margin-top: 2rem;
}
}

@media (max-width: 930px) {
.im-cards {
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
gap: 10px;
}

.im-card {
gap: 1px;
padding: 12px;
}

.im-card-image img {
width: 65px;
}

/* TEXT STYLES */
.im-info h4 {
font-size: 15px;
font-weight: 600;
margin-bottom: 6px;
}
}

@media (max-width: 845px) {

.im-card-image img {
width: 65px;
}

/* TEXT STYLES */
.im-info h4 {
font-size: 15px;
font-weight: 600;
margin-bottom: 6px;
}
}

@media (max-width: 670px) {
.im-cards {
display: flex;
flex-direction: column;
}

.im-card {
gap: 3rem;
}
}


@media (max-width: 720px) {
.operations-layout {
display: flex;
flex-direction: column;
}

.db-header h1 {
font-size: 1.8rem;
}
}
