.error-container {
    position: relative; /* Keeps original position reference */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.form-error-message {
    position: absolute; /* Makes it float without taking space */
    top: 0; /* Stay in same position */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Make sure it stays above other elements */

    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    max-width: 450px;
    width: 100%;

    animation: fadeIn 0.5s ease-in-out;
    pointer-events: none; /* Prevents blocking input fields */
}

.form-error-message.error {
    background-color: rgba(255, 0, 0, 0.08);
    color: #E03F3F;
    border: 1px solid rgba(255, 0, 0, 0.2);
}

.form-error-message.success {
    background-color: rgba(0, 128, 0, 0.08);
    color: #22A06B;
    border: 1px solid rgba(0, 128, 0, 0.2);
}

.form-error-message.info {
    background-color: rgba(0, 128, 0, 0.08);
    color: #2B7BE4;
    border: 1px solid rgba(0, 53, 128, 0.2);
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -15px);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -15px);
    }
}


@media (max-width: 768px) {

    .form-error-message {
        font-size: 11px;
        font-weight: 400;
        padding: 0.3rem .7rem;
    }
}