/* Password Eye Icon Wrapper */
.password-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* Space for the eye icon */
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.1rem;
    color: #446285;
    transition: color 0.3s ease;
}

.toggle-password:hover {
    color: #2c8cfb;
}