{% extends 'base_user.html' %}
{% load i18n static dict_extras %}

{% block title %}{% trans "Maintenance Notifications Details" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/maintenance/notification_detail.css' %}">
{% endblock %}

{% block content %}

<div class="notif-container">
    <!-- Header -->
    <div class="wh-header-section">
        <div class="wh-header-left">
            <h1>
                <span>{% trans "Notification " %}</span>
                {% trans "Details" %}
            </h1>
        </div>
        <div class="wh-header-right">
            <a href="{% url 'notification_list' %}" class="btn-back">
                <i class="bi bi-arrow-left"></i> {% trans "Back" %}
            </a>
        </div>
    </div>

<!-- CONTENT -->
<div class="notif-container">
    <div class="notif-card">

        <div class="notif-row">
            <span class="label">{% trans "Title" %}</span>
            <span class="value">{{ notification.title }}</span>
        </div>

        <div class="notif-row">
            <span class="label">{% trans "Start Time" %}</span>
            <span class="value">{{ notification.start_time }}</span>
        </div>

        <div class="notif-row">
            <span class="label">{% trans "End Time" %}</span>
            <span class="value">{{ notification.end_time|default:"---" }}</span>
        </div>

        <div class="notif-row">
            <span class="label">{% trans "Status" %}</span>
            {% if notification.active %}
                <span class="status active">{% trans "Active" %}</span>
            {% else %}
                <span class="status inactive">{% trans "Inactive" %}</span>
            {% endif %}
        </div>

        <!-- ACTION -->
        <div class="action-buttons">
            <form action="{% url 'toggle_notification_status' notification.pk %}" method="post">
                {% csrf_token %}
                {% if notification.active %}
                    <button type="submit" class="btn deactivate">
                        {% trans "Deactivate" %}
                    </button>
                {% else %}
                    <button type="submit" class="btn activate">
                        {% trans "Activate" %}
                    </button>
                {% endif %}
            </form>
        </div>

    </div>
</div>
</div>



{% endblock %}
